-# .mx-auto.w-full.flex{class: "md:w-2/3"}
-#   .mx-auto
-#     - if notice.present?
-#       %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
-#     = render @article
-#     = link_to 'Edit this article', edit_article_path(@article), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
-#     .inline-block.ml-2
-#       = button_to 'Destroy this article', article_path(@article), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium"
-#     = link_to 'Back to articles', articles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
.bg-white.rounded-lg.shadow-lg.p-8.mb-8
  %h1.text-3xl.font-medium.text-gray-800.mb-4= @article.title
  %p#ckeditorvalue.text-gray-600.leading-relaxed.mb-8{data: { controller: "ckeditor", target: 'editor', value: @article.body}}
  %h2.text-2xl.font-medium.text-gray-800.mb-4 Comments
  .max-w-xl	
    - @article.comments.each do |comment|
      - if comment.id.present?
        
        .bg-gray-100.rounded-lg.p-4.mb-4
          %p.text-gray-800.font-medium
            = comment.user&.full_name.present? ? comment.user&.full_name : comment.author_name
          %p.text-gray-600.leading-relaxed= comment.body
    .mt-8
      %h3.text-xl.font-medium.text-gray-800.mb-4 Laisser un commentaire
      = form_with(model: [@article, @comment], local: true) do |form|
        - if current_user.present?
          = form.hidden_field :user_id, value: current_user.id
        - else
          .mb-4
            = form.label :author_name, "Ton nom"
            = form.text_field :author_name, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        .mb-4
          = form.label :body, "Commentaire"
          = form.text_area :body, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
        = form.submit "Valider", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"