!!!
%html.h-full.bg-gray-50
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlogTest
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.h-full
    = render 'layouts/headers/header'
    - if notice
      %p.w-full#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.flex.items-center.justify-center= notice
    - if alert
      %p.w-full#notice.py-2.px-3.bg-red-50.mb-5.text-red-500.font-medium.rounded-lg.flex.items-center.justify-center= alert
    = yield
